* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: rgb(230, 230, 230);
}

nav {
    background-color: white;
    height: 64px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 2.2vw;
    margin: 0;
    padding: 0;
}

.link li a {
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}
.logo{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.2fr 1.2fr repeat(3, 1fr) 1.2fr 2.5fr 1.2fr;
    grid-template-areas:
        "Header Header"
        "Row1 Row1"
        "Row2 Row2"
        "Row3 Row3"
        "Row4 Row4"
        "Row5 Row5"
        "Row6 Row6"
        "Footer Footer";
}

header {
    grid-area: Header;
    background-color: rgb(240, 240, 240);
    padding: 5vw 7vw;
}

.text-container {
    width: 422px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-header {
    justify-self: end;
    display: flex;
    justify-content: end;
}

.btn-header {
    background-color: black;
    border: none;
    width: 10vw;
    color: white;
    height: 3vw;
}

header .judul {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 500;
    line-height: 65.63px;
    text-align: left;
}

header .desk {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
}

.row1 {
    grid-area: Row1;
    background-color: black;
    color: white;
    gap: 1.5vw;
}

.Tittle-row1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.75px;
    text-align: center;
}
.Desk-row1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;
    width: 619px;
    height: 57px;
    top: 130px;
    left: 411px;
    gap: 0px;
    opacity: 0px;
}
.content-row2 {
    width: 908px;
}

.row2 {
    grid-area: Row2;
    background-color: rgb(209, 209, 209);
}

.row3 {
    grid-area: Row3;
    background-color: rgb(173, 173, 173);
}

.row4 {
    grid-area: Row4;
    background-color: rgb(170, 170, 170);
}

.row5 {
    grid-area: Row5;
    background-color: black;
}

.row6 {
    grid-area: Row6;
    background-color: rgb(209, 209, 209);
}

footer {
    grid-area: Footer;
    background-color: black;
}